<h1>About</h1>
<p style="white-space: pre;">Hi! I'm Matin Nadaf, a passionate Computer Science student at Dayananda Sagar University, Bengaluru. I'm currently pursuing my B.Tech in 
Computer Science and Engineering, and I’ll be graduating in 2026. Ever since I started my journey in tech, I’ve been deeply interested in building 
digital projects, solving real-world problems through code, and learning about modern web technologies. Over the last few years, I’ve explored
full-stack web development, worked on several personal projects using React.js, Node.js, Express, and MongoDB, and even built my own 
blogging platform!


</p>